
    .maintext {
        display: flex;
        flex-direction: column;
        position: absolute;
        transition: 400ms ease right;
        bottom: -60px;
        width: 460px;
        padding: 40px 40px;

        &.active {
            right: 400px;
            width: 460px;
            bottom: 0px;
            padding: 0px;
        }
    }
    .ion-ios-menu {
        font-size: 36px;
        color: #4C4A4A;
        padding: 6px;
        width: 36px;
        cursor: pointer;
        position: absolute;
        top: 80px;
        right: 10px;
        display: none;
    }

    
    .rectangles-rightside {
        background-color: #4C4A4A;
        position: fixed;
        width: 4px;
        height: 93.4%;
        right: 0px;
        bottom: 0px;
    }

    .rectangle-rightside-1 {
        background-color: #999999;
        position: fixed;
        width: 36px;
        height: 90%;
        right: 0px;
        z-index: -1;
        bottom: 0px;
    }
    .rectangle-rightside-2 {
        background-color: #999999;
        position: fixed;
        opacity: 80%;
        width: 36px;
        height: 86%;
        right: 8px;
        z-index: -1;
        bottom: 0px;
    }
    
    .rectangles-bottom {
        display: flex;
        flex-direction: column-reverse;
        position: absolute;
        bottom: 0;
        height: 80%;
        width: 80%;

        .rectangles-bottom-bottom {
            background-color: #D9D9D9;
            height: calc(50%);

            .logoreverse {
                display: flex;
                justify-content: center;
                align-items: center;
                background: transparent;
                font-size: 36px;
                font-weight: 600;
                padding-bottom: 5px;
                padding-left: 45%;
                width: fit-content;
                color: white;
                transform: scale(-1, 1);
                -webkit-transform: scale(-1, 1);
                -o-transform: scale(-1, 1);
                -ms-transform: scale(-1, 1);
                transform: scale(1, -1);
            }
        }

        .rectangles-bottom-top {
            background-color: transparent;

            .logo {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background: transparent;
                width: fit-content;
                font-size: 36px;
                font-weight: 600;
                padding-bottom: 5px;
                padding-left: 45%;
                color: rgba(0, 0, 0, 0.40);
                text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.08);
            }
        }
    }

    .rectangles-leftside {
        background-color: transparent;
        position: fixed;
        opacity: 40%;
        left: 0px;
        width: 16%;
        bottom: 0px;
        height: 100%;
        z-index: -1;
        border-right: 1px solid #030303;    
    }


    @media screen and (max-width: 900px) {
        .rectangles-bottom {
            .logoreverse {
                font-size: 24px;
            }
        }
    }



